.light-mode {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  